language: python

python:
  - "2.7"

# command to install dependencies
install:
    cd ./example;
    make install;

# command to run tests
script:
   make test

addons:
  apt:
    packages:
    - xvfb
    - sqlite
    - libjpeg-dev
    - libpng-dev
    - gettext
