language: python
python:
  - 2.6
  - 2.7
  - 3.2
  - 3.3
env:
  - DJANGO=django==1.6
  - DJANGO=django==1.6.1
  - DJANGO=django==1.6.2
  - DJANGO=django==1.6.3
  - DJANGO=django==1.6.4
  - DJANGO=django==1.6.5
  - DJANGO=https://www.djangoproject.com/download/1.7c2/tarball/
matrix:
  exclude:
    - python: 2.6
      env: DJANGO=https://www.djangoproject.com/download/1.7c2/tarball/
  allow_failures:
    - env: DJANGO=https://www.djangoproject.com/download/1.7c2/tarball/
  fast_finish: true
install:
  - travis_retry pip install $DJANGO
  - python setup.py -q install
script: python src/test_project/manage.py test reversion
notifications:
  email: false
