include src/reversion/templates/reversion/*.html
include src/reversion/locale/*/LC_MESSAGES/django.*
include LICENSE
include README.rst
include CHANGELOG.rst
include MANIFEST.in
recursive-include docs *
prune docs/_build