{% extends "reversion/revision_form.html" %}
{% load i18n %}


{% block breadcrumbs %}
	<div class="breadcrumbs">
		<a href="../../../../">{% trans "Home" %}</a> &rsaquo;
		<a href="../../../">{{app_label|capfirst|escape}}</a> &rsaquo; 
		<a href="../../">{{opts.verbose_name_plural|capfirst}}</a> &rsaquo;
		<a href="../">{% blocktrans with opts.verbose_name as verbose_name %}Recover deleted {{verbose_name}}{% endblocktrans %}</a> &rsaquo;
		{% blocktrans with original|truncatewords:18 as name %}Recover {{name}}{% endblocktrans %}
	</div>
{% endblock %}